.canvas_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    background: url("https://cdn2.vectorstock.com/i/1000x1000/05/61/square-transparent-background-vector-7930561.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.canvas_container__canvas {
    width: 80%;
    position: absolute;
}